{% block head %}
    {% if title %}
    <title>Whales! | {{ title }}</title>
    {%  else %}
    <title>WhaleMagnet! | The Site for Whale Nuts</title>
    {% endif %}
<meta charset=utf-8>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
{% endblock %}
{% block body %}
    <div>
        WhaleMagnet:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div>Hello Whalenuts</div>
    {% block content %}{%  endblock %}
{% endblock %}
