{% block head %}
    {% if title %}
    <title>Whales! | {{ title }}</title>
    {%  else %}
    <title>WhaleMagnet! | The Site for Whale Nuts</title>
    {% endif %}
<meta charset=utf-8>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
{% endblock %}
{% block body %}
    <div>
    WhaleMagnet:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
    </div>
    <hr>
    <div>Hello Whalenuts</div>
    {% block content %}{%  endblock %}
{% endblock %}
